<?xml version="1.0" encoding="utf-8"?>

<!-- This is a dummy manifest only. -->
<!-- It is needed by NDK and Maven  -->
<manifest
	  xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.spoledge.aacdecoder"
	  android:versionCode="10"
	  android:versionName="0.7"
>
</manifest> 
